services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
      - static_volume:/code/static
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - POSTGRES_DB=${NAME}
      - POSTGRES_USER=${USER}
      - POSTGRES_PASSWORD=${PASSWORD}
  db:
    image: postgres:16.0
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${NAME}
      - POSTGRES_USER=${USER}
      - POSTGRES_PASSWORD=${PASSWORD}
    ports:
      - "${PORT}:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: pg_is ready -U ${USER} -d ${NAME}
      interval: 3s
      timeout: 3s
      retries: 10
  nginx:
    build: .
    ports:
      - "80:80"
    volumes:
      - .nginx.conf:/etc/nginx/nginx.conf
      - ./html:/usr/share/nginx/html

volumes:
  postgres_data:
  static_volume: